body
{
    font-size: 14px;
    line-height: 1.4;
}
.mini-label
{
    line-height: 32px;
}
/* button
==========================================*/
.mini-button
{
    font-size: 14px;
    line-height: 18px;
}
.mini-button-text
{
    padding: 4px 12px 4px 12px;
    padding: 5px 12px 3px 12px\9;
    line-height: 22px;
}
.mini-button-icon
{
    left: 8px;
}
.mini-button .mini-button-icon-text
{
    padding-left: 28px;
}
.mini-button .mini-button-icon-only
{
    padding-left: 18px;
}
.mini-button .mini-button-icon-only .mini-button-icon
{
    left: 8px;
}
.mini-button-iconRight .mini-button-icon-text
{
    padding-left: 12px;
    padding-right: 28px;
}
.mini-button-iconRight .mini-button-icon
{
    left: auto;
    right: 8px;
}
.mini-button-iconTop .mini-button-icon-text
{
    padding-left: 12px;
    padding-top: 28px;
}
.mini-button-iconTop .mini-button-icon
{
    top: 6px;
}
.mini-button-allow
{
    margin-top: 7px;
    left: -3px;
}

/* textbox
==========================================*/
.mini-textbox-input
{
    font-family: "微软雅黑";
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #5A5A5A;
}
.mini-textbox-border
{
    padding-left: 8px;
    padding-right: 8px;
    height: 30px;
}
.mini-textbox
{
    overflow: visible;
    height: 32px;
    width: 150px;
}
.mini-textarea .mini-textbox-border
{
    padding-left: 8px;
    padding-right: 0px;
}
.mini-textarea .mini-textbox-input
{
    line-height: 22px;
}

/* buttonedit
==========================================*/
.mini-buttonedit-input
{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.mini-buttonedit-border
{
    padding-left: 6px;
    padding-right: 25px;
    height: 30px;
}
.mini-buttonedit
{
    overflow: visible;
    height: 32px;
    width: 60px;
}
.mini-buttonedit-button
{
    height: 26px;
    width: 26px;
}
.mini-buttonedit-close
{
    width: 20px;
    height: 24px;
}
/*.mini-buttonedit-up span, .mini-buttonedit-down span
{
    background-position:50% 50%;
}*/

/* htmlfile
==========================================*/
.mini-htmlfile .mini-buttonedit-button
{
    line-height: 26px;
}

/* textboxlist
==========================================*/
.mini-textboxlist
{
    height: 32px;
}
.mini-textboxlist ul
{
    padding-top: 3px;
    padding-left: 8px;
}
.mini-textboxlist .mini-textboxlist-item
{
    font-size: 14px;
    line-height: 22px;
    height: 22px;
}
.mini-textboxlist .mini-errorIcon
{
    margin-top: 4px;
}
.mini-textboxlist .mini-textboxlist-input
{
    height: 20px;
    line-height: 20px;
}

/* checkbox
==========================================*/
.mini-checkbox
{
    font-size: 14px;
    line-height: 28px;
}
.mini-checkbox-check, .mini-checkbox-icon
{
    margin-right: 10px;
}

/* checkboxlist & radiobuttonlist
==========================================*/
.mini-checkboxlist table label, .mini-radiobuttonlist table label
{
    padding-left: 8px;
    line-height: 32px;
    font-size: 14px;
}

/* listbox
==========================================*/
.mini-listbox td
{
    line-height: 22px;
    font-size: 14px;
    padding: 6px 8px 6px 8px;
}

/* grid
==========================================*/
.mini-grid-cell-inner
{
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
}
.mini-grid-headerCell-inner
{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
}
.mini-grid-headerCell-outer
{
    padding-left: 6px;
    padding-right: 4px;
}
.mini-grid-columnproxy
{
    padding-top: 4px;
    padding-bottom: 6px;
}
.mini-grid-allowsort, .mini-grid-sortIcon
{
    margin-left: 4px;
}
.mini-grid-emptyText
{
    font-size: 16px;
    color: orange;
}

.mini-grid-detailRow {
    background:white;position:relative;zoom:1;
}



/* treegrid & tree
==========================================*/
.mini-tree-nodetitle, .mini-tree-node-ecicon, .mini-tree-indent
{
    height: 24px;
}
.mini-tree .mini-tree-icon
{
    top: -2px;
}
.mini-tree-nodeshow
{
    padding: 2px;
    padding-left: 4px;
    padding-right: 5px;
}
.mini-tree-node-hover .mini-tree-nodeshow, .mini-tree-selectedNode .mini-tree-nodeshow
{
    padding: 2px;
    padding-left: 3px;
    padding-right: 4px;
}
.mini-tree-nodetext
{
    padding-left: 6px;
}
.mini-tree-checkbox
{
    margin-left: 4px;
    margin-right: 2px;
}

/* pager
==========================================*/
.mini-pager
{
    /*height:32px;     line-height:32px;     padding:6px 10px 6px 8px;*/
    height: 25px;
    line-height: 28px;
    padding: 2px 6px 6px 2px;
    border-top: 0px solid #ccc;
}
body .mini-pager-num
{
    height: 24px;
    line-height: 24px;
}

/* toolbar
==========================================*/
.mini-toolbar
{
    padding: 6px;
    padding1: 16px 0px 16px 0px;
}

/* tools
==========================================*/
.mini-tools span
{
    margin-left: 6px;
}

/* panel
==========================================*/
.mini-panel
{
    font-size: 14px;
}
.mini-panel-header-inner
{
    padding: 12px 12px 12px 12px;
    font-size: 14px;
}
.mini-panel .mini-panel-icon
{
    margin-right: 8px;
}
.mini-panel .mini-tools
{
    top: 14px;
    right: 10px;
}
.mini-panel-body
{
    padding: 8px;
}
.mini-panel-toolbar, .mini-panel-footer
{
    /*padding:6px;*/
}

/* layout
==========================================*/
.mini-layout
{
    font-size: 14px;
}
.mini-layout-region-header, .mini-layout-proxy
{
    height: 42px;
    line-height: 42px;
}
.mini-layout-proxy
{
    width: 40px;
}
.mini-layout-region-header .mini-tools, .mini-layout-proxy .mini-tools
{
    top: 12px;
    right: 16px;
}
.mini-layout-proxy-text
{
    left: 8px;
    font-size: 14px;
}

/* outlookbar
==========================================*/
.mini-outlookbar
{
    font-size: 14px;
}
.mini-outlookbar-groupHeader
{
    line-height: 22px;
    padding: 10px 26px 10px 12px;
}
.mini-outlookbar-groupTitle
{
    padding-left: 8px;
}
.mini-outlookbar-groupHeader .mini-tools
{
    top: 12px;
    right: 12px;
}

/* menu
==========================================*/
.mini-menu
{
    font-size: 14px;
}
.mini-menuitem-inner
{
    padding: 4px 26px 4px 34px;
}
.mini-menuitem-icon
{
    left: 10px;
    top: 6px;
}
.mini-menuitem-allow
{
    top: 6px;
    right: 6px;
}
.mini-menu-horizontal .mini-menu-inner
{
    padding: 6px;
}
.mini-menu-horizontal .mini-menuitem-inner
{
    padding: 4px 10px 4px 10px;
}
.mini-menu-horizontal .mini-menuitem-icon
{
    margin-right: 4px;
}

/* tabs
==========================================*/
.mini-tab
{
    padding-left: 14px;
    padding-right: 14px;
}
.mini-tab-text
{
    font-size: 14px;
    line-height: 16px;
    padding: 8px 8px 8px 8px;
}
.mini-tabs-plain
{
    line-height: 20px;
}
.mini-tab-close
{
    margin-top: 8px;
}
.mini-tabs-tabmenu
{
    top: 7px;
    right: 4px;
    width: 22px;
    height: 24px;
    margin-right: 6px;
}
.mini-tabs-nav, .mini-tabs-leftnav
{
    top: 7px;
    padding-left: 8px;
    padding-right: 4px;
}
.mini-tabs-leftButton, .mini-tabs-rightButton
{
    width: 22px;
    height: 24px;
    margin-right: 6px;
}
.mini-tabs-buttons
{
    padding-top: 6px;
}
.mini-tabs-scrollCt
{
    border: 0px solid #999999;
}
.mini-tabs-bodys
{
    border: 0px solid #999999;
}
/* calendar
==========================================*/
.mini-calendar, .mini-calendar-title, .mini-calendar-menu-month, .mini-calendar-menu-year
{
    font-size: 14px;
}
.mini-calendar-header
{
    height: 36px;
}
.mini-calendar-title
{
    top: 4px;
}
.mini-calendar-prev, .mini-calendar-next
{
    top: 10px;
}
body .mini-calendar td.mini-calendar-date
{
    line-height: 18px;
    padding: 3px 8px;
}
body .mini-calendar .mini-calendar-daysheader td
{
    line-height: 20px;
    padding: 4px;
}
.mini-calendar-tadayButton, .mini-calendar-clearButton, .mini-calendar-okButton, .mini-calendar-cancelButton
{
    line-height: 18px;
    padding: 6px;
    padding-left: 0px;
    padding-right: 0px;
}
.mini-calendar-menu-year
{
    padding: 2px 2px;
}

/* progressbar
==========================================*/
.mini-progressbar
{
    height: 32px;
}
.mini-progressbar-border
{
    height: 30px;
}
.mini-progressbar-text
{
    line-height: 30px;
    font-size: 14px;
}

/*=========================标签====================================*/

.colorMelancholy
{
    color: #666;
    cursor: pointer;
    background-color: #d4e0f5;
    border-radius: 5px;
    border: 1px solid #d4e0f5;
    white-space: nowrap;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.colorLight
{
    color: #666;
    cursor: pointer;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #fafafa;
    white-space: nowrap;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.colorRed
{
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #fd6760;
    border-radius: 5px;
    border: 1px solid #fd6760;
    font-size: 13px;
    padding-left: 15px;
    font-weight: normal;
    padding-right: 15px;
    white-space: nowrap;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.colorGreen
{
    color: white;
    cursor: pointer;
    background-color: #46bfbd;
    border-radius: 5px;
    border: 1px solid #46bfbd;
    white-space: nowrap;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.colorBlue
{
    color: white;
    cursor: pointer;
    background-color: #9BD3F8;
    border-radius: 5px;
    border: 1px solid #9BD3F8;
    white-space: nowrap;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.colorGray
{
    color: white;
    cursor: pointer;
    background-color: #777777;
    border-radius: 5px;
    border: 1px solid #777777;
    white-space: nowrap;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.titleCount
{
    color: orange;
}













/* mini-pager
==========================================*/
.mini-pager .mini-buttonedit
{
    height: 26px;
}
.mini-pager .mini-buttonedit-border
{
    padding-left: 6px;
    padding-right: 24px;
    height: 24px;
}
.mini-pager .mini-buttonedit-input
{
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}
.mini-pager .mini-buttonedit-button
{
    height: 20px;
    width: 20px;
}
